/* Full Page Background Image */
.color-selector-page {
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: flex-end; /* Align buttons at the bottom */
  background-size: contain; /* Adjust image to fit the screen without cropping */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling of the image */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
  background-size: 100%; /* Adjust this percentage to control the zoom level */
  
}

/* Buttons Overlay */
.color-options {
  display: flex;
  gap: 15px; /* Space between buttons */
  margin-bottom: 20px;
}

.color-options button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.color-options button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Go Back Button Styling */

.go-back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  color: grey;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 2000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.go-back-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #000;
}
