/* Basic Navbar Styling */
.navbar {
  background-color: #333;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin-left: 20px;
  position: relative;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-item:hover .navbar-link {
  color: #e82127; /* Tesla Red */
}

/* Dropdown Menu */
.dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #333;
  width: 180px;
  display: block;
}

.dropdown-link {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-link:hover {
  background-color: #ff2a3e; /* Tesla Red */
}
