.released-cars-container {
  padding: 40px 20px;
  background-color: #f5f5f5;
}

.released-cars-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-size: 2.5rem;
}

.cars-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  
}

.car-card {
  background: white;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.car-card:hover {
  transform: translateY(-5px);
}

.car-card h3 {
  color: #333;
  margin-bottom: 6px;
  font-size: 1rem;
}

.car-details {
  color: #666;
}

.car-details p {
  margin: 2px 0;
  font-size: 0.85rem;
}